// Place all the styles related to the public/Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mypage-showtable {
	width: 100%;
}

#mypage-showtable table {
    width: 80%;
    margin: 0 auto;
}

#mypage-showtable table tbody {
    display: block;
    width: 100%;
}

#mypage-showtable table tr {
    display: block;
    width: 100%;
}

#mypage-showtable table th {
    display: inline-block;
    width: 30%;
}

#mypage-showtable table td {
    display: inline-block;
    width: 70%;
}

.mypage-showh3 {
    display: inline-block;
}

.customer_edit_address {
    width: 60%;
}