<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>About</h1>
    <p class="lead">ながのCAKEは全国発送可能な～</br>お子様からお年寄りまで～</br>様々な～</br>
    </p>
  </main>
</div>